* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
header {
  transition: 0.1s;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
/* ----------------------logo & Nevbar ------------------------ */
/* .logo {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-family: 'Lobster Two', cursive;
} */
header {
 
  background: #E1F3FF;

}
#logo1 {
  color: #2269E0;
font-family: 'Parisienne', cursive;
  font-weight: 700;
  font-size: xx-large;
}
#logo1:hover {
  color: #FFFFFF;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.menu {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2269E0;
}
.nav-menu .nav-items .nav-link {
 
  background:#2269E0;
  padding: 3px 15px;
  border-radius: 30px;
  border: 1px solid black;
  transition: 0.5s;
  font-weight: 550;
  color: #FFFFFF;
}
.nav-menu .nav-items .nav-link:hover {
  background: #5f99fc;
  font-weight: 550;
}
/* --------------------------mid section-------------------------- */
.main {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* --------------------upperr body---------------------------- */
.upbody {
  background: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.intro {
  margin: 20px;
}
h4 {
  font-size: xx-large;
  color: #005dfd;
}
h5 {
  font-size: x-large;
  color: #005dfd;
  font-weight: 400;
}
p{
  color: #005dfd;
}
.btn{
  color: #FFFFFF;
  transition: 1s;
}
.btn:hover{
  color: #2269E0;
}
button {
  background-color: #2269E0;
  padding: 3px 10px;
  margin-top: 15px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  font-weight: 600;
}
button:hover {

  background-color: #FFFFFF;

}
#topimg {
  width: 800px;
}
/* -------------------lower body---------------------- */
.lowbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background:#87E3FA;
}
h2 {
  font-size: 35px;
  color: #2269e0;
  border-bottom: 2px solid #2269e0;
  margin: 10px;
}
.collection {
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 10px;
}
.project
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color:#E1F3FF;
  height: 200px;
  margin: 20px;
  color: #2269E0;
  transition: 0.5s;
}
.project:hover{
  background-color: #d2eafa;
}
.project-img
{
  width: 150px;
}
h1 {
  font-size: 100px;
  color: #FFFFFF;
}
h3 {
  color: #2269E0;
  font-family: poppins;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
/* -----------------------------profile section--------------------------------- */
.profile-section {
  background: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 60vh;
  margin-top: 60px;
}
.pro-img
{
  width: 300px;
  clip-path: circle(50%);
}


/* ----------------------------footer---------------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E1F3FF;
  text-align: center;
  padding-top: 20px;
}
.copyright {

  font-size: small;
  color: #2269E0;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #2269E0;
}
.quick-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links,
.more,
.social,
.link-a{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}
.link-a {
  color: #2269E0;
  transition: 0.5s;
}
.link-a:hover {
  color: #87E3FA;
}
@media only screen and (max-width: 768px) {
  #topimg {
    width: 350px;
  }
  .lowbody {
    height: 100%;
  }
  .collection {
    height: 100%;
    margin: 10px;
  }
 .intro
{
  padding-top: 80px;
}
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: large;
  }
  .intro {
    margin: 45px 25px;
  }
  .upbody ,.profile-section {
    flex-direction: column;
  }
  button {
    padding: 5px 8px;
    margin-top: 20px;
  }

  .menu {
    display: block;
  }
  .menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    justify-content: start;
    background-color:  #E1F3FF;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-items {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .link-a {
    padding: 8px 50px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
  footer {
    /* flex-direction: column; */
    padding: 10px;
  }
  .links,
  .social,
  .more,
  .link-a {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 3px;
    font-size: 12px;
  }
}
